@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/roboto-condensed-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(/fonts/roboto-condensed-latin-700-normal.woff2) format('woff2');
}
